<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/appliances/{{item.appliances.id}}">
        <img [src]="item.appliances.imageUrl"/>
      </a>
    </td>
    <td>
      {{item.appliances.name}}
    </td>
    <td>
      {{item.appliances.price | currency}}
    </td>
    <td>
      {{item.quantity}}
    </td>
    <td>
      {{item.price | currency}}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong>
        Total :
      </strong>
    </td>
    <td>
      <strong>
        {{order.totalPrice | currency}}
      </strong>
    </td>
  </tr>
</table>
